@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');


// BTNS colors
$btnNormal: #F4E041;
$btnHover: #FFE302;
$btnDisabled: #B4B4B4;
$btnColorNormal: #000;
$btnColorDis: #fff;
// colors palete
$colorPrimary: #F4E041;
$colorSecondary: #00BDD3;
$colorBackground: #F8F8F8;

// input
$inputOuline: rgba(203, 61, 64, 1);

// font
$fontFamily: 'Nunito', sans-serif;
