@import './assets/index.scss';
@import './assets/base.scss';

* {
	box-sizing: border-box;
}

body {
	font-family: $fontFamily;

	background-color: $colorBackground;
	
	margin: 0;
}
.wrapper {
	padding: 0 16px;
}
.container {
	width: 100%;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
	.wrapper {
		padding: 0 32px;
	}
	.container {
		width: 768px;
	}
}
@media only screen and (min-width: 1024px) and (max-width: 2559px) {
	.wrapper {
		padding: 0 60px;
	}
	.container {
		width: 1024px;
	}
}
@media only screen and (min-width: 2560px) {
	.container {
		width: 1170px;
	}
	.wrapper {
		padding: 0;
	}
}